@using MindustryToolbox.Core.Entities
@using MindustryToolbox.Core.ValueTypes
@if (Node != null)
{
    <div class="paper p-4">
        <div class="tree-view">
            @if (ShowHeader)
            {
                <!-- Main Node (Production Node) -->
                <div class="tree-view-item expanded">
                    <div class="tree-view-item-header" @onclick=@(() => IsCollapsed = !IsCollapsed)>
                        <MudIcon Icon="@Icons.Material.Filled.Category" />
                        <span>@($"{Node.Resource}: {Node.OutputPerSecond} production per second")</span>
                    </div>
                    @if (!IsCollapsed)
                    {
                        <div class="tree-view-item-children">
                            @foreach (var recipe in Node.Recipes)
                            {
                                @if (recipe != null)
                                {
                                    <RecipeTreeItem Recipe="recipe" />
                                }
                                else
                                {
                                    <div class="tree-view-item error-item">
                                        <div class="tree-view-item-header">
                                            <span class="icon material-icons">error</span>
                                            <span>Recipe data missing</span>
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                    }
                </div>
            }
            else
            {
                @foreach (var recipe in Node.Recipes)
                {
                    @if (recipe != null)
                    {
                        <RecipeTreeItem Recipe="recipe" />
                    }
                    else
                    {
                        <div class="tree-view-item error-item">
                            <div class="tree-view-item-header">
                                <span class="icon material-icons">error</span>
                                <span>Recipe data missing</span>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-error no-node-alert">
        <span>No production node available</span>
    </div>
}

@code {
    [Parameter]
    public ProductionNode Node { get; set; }

    [Parameter]
    public bool ShowHeader { get; set; } = true;

    private bool IsCollapsed = true;
}
